/* Write your code here. */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  min-height: 100vh;
}

.heading {
  color: #f8fafc;
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
}

.teams-container {
  display: flex;
}

@media screen and (max-width: 786px) {
  .image-logo {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 786px) {
  .heading {
    font-size: 64px;
  }
  .image-logo {
    height: 300px;
    width: 300px;
  }
}
